@import '../../styles/variables.scss';

.button {
  margin: 0;
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  background-color: $light;
  color: $dark;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;

  &:hover {
    transform: scale(1.05);
    background-color: $dark;
    color: $light;
  }

  &:disabled,
  &:hover:disabled,
  &:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    transform: none;
    cursor: not-allowed;
  }
}

.primary {
  background-color: $primary;
  color: $light;

  &:hover {
    background-color: $light;
    color: $primary;
    border: 1px solid $primary;
  }
}

.secondary {
  background-color: $secondary;
  color: $light;

  &:hover {
    background-color: $light;
    color: $dark;
    border: 1px solid $secondary;
  }
}

.success {
  background-color: $success;
  color: $light;

  &:hover {
    background-color: $light;
    color: $dark;
    border: 1px solid $success;
  }
}

.info {
  background-color: $info;
  color: $dark;

  &:hover {
    background-color: $light;
    color: $dark;
    border: 1px solid $info;
  }
}

.warning {
  background-color: $warning;
  color: $dark;

  &:hover {
    background-color: $light;
    color: $dark;
    border: 1px solid $warning;
  }
}

.danger {
  background-color: $danger;
  color: $light;

  &:hover {
    background-color: $light;
    color: $danger;
    border: 1px solid $danger;
  }
}

.light {
  background-color: $light;
  color: $dark;
  border: 1px solid $dark;

  &:hover {
    background-color: $light;
    color: $dark;
    border: none;
  }
}

.dark {
  background-color: $dark;
  color: $light;

  &:hover {
    background-color: $light;
    color: $dark;
    border: 1px solid $dark;
  }
}
