.print-leaves-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  margin: 5px 10px;
  width: 100vw;

  .print-leaves-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
  .print-all {
  }
  .print-leaves-table {
    width: 100vw;
  }
}
