.employees-page-container {
  display: flex;
  flex-direction: column;
  .employees-search {
  }
  .employees-add-action {
    margin-top: 20px;
    margin-right: 20px;
  }
  .employees-show-table {
  }
}
